body {
  font: 18px/28px "Open Sans", arial;
}

.content {
  width : 600px;
  color : #545454;
  margin: auto;
}

h1 {
  font-family: "AvenirNextRoundedW01-Re";
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  font-style: normal;
  color: rgba(206,206,206,1);
}

.content h2 { color: #333333; }
.content h2 a { color: #333333; }
.content h3 { color: #333333; }
.content h4 { color: #333333; }
.content h5 { color: #333333; }

.content a {
  color : #28c7ef;
  text-decoration: none;
  border-bottom: 1px solid #aaeeff;
}

.content a:hover {
  border-bottom: 1px solid #28c7ef;
}

pre {
  background: #dedede;
  text-align: left;
  margin: 0;
  padding: 10px;
  background-color: rgba(43,57,86,1);
  color: rgba(255,255,255,1);
  line-height: 18px;
}

pre code {
  font-family: "Inconsolata";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}