body {
  font: 18px/28px "Open Sans", arial;
  padding-top : 30px;
}

.content {
  width : 600px;
  color : #545454;
  margin: auto;
}

h1 {
  font-family: "AvenirNextRoundedW01-Re";
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  font-style: normal;
  color: rgba(206,206,206,1);
  margin: 0;
  padding: 0;
}

header {
  width : 800px;
  margin: 0 auto;
}

header h1 {
  dislay: block;
  width : 400px;
  text-align: right;
}

header > div {
  width : 400px;
  position: relative;
  top: -40px;
  left: 420px;
}

header h2 {
  font-size: 32px;
  line-height: 36px;
  margin : 0;
  padding : 0;
}

header .custom-links {
  font-size: 20px;
  line-height: 36px;
}

header .custom-links a {
  text-decoration: none;
  color: #28c7ef;
}

.content h2 { color: #333333; }
.content h2 a { color: #333333; }
.content h3 { color: #333333; }
.content h4 { color: #333333; }
.content h5 { color: #333333; }

header time {
  font-size: 27px;
  color: rgba(206,206,206,1);
  text-align : right;

  position: relative;
  top: -30px;
  left : -165px;
  width: 150px;
  display: block;

  height : 0;
}

.content a {
  color : #28c7ef;
  text-decoration: none;
  border-bottom: 1px solid #aaeeff;
}

.content a:hover {
  border-bottom: 1px solid #28c7ef;
}

article {
  margin-bottom: 72px;
}

pre {
  background: #dedede;
  text-align: left;
  margin: 0;
  padding: 10px;
  background-color: rgba(43,57,86,1);
  color: rgba(255,255,255,1);
  line-height: 18px;
}

pre code {
  font-family: "Inconsolata";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

blockquote {
  border-left: 3px solid rgba(206,206,206,0.5);
  margin : 0;
  padding : 3px 24px;
  background: rgba(206,206,206,0.1);
}

.archives { margin-top: 36px; }

.archives ul li { list-style-type: none; margin-bottom : 8px; }
.archives ul li time { color: rgba(206,206,206,1); }

#comments {
  margin-top: 72px;
}

.site-footer {
  padding : 30px 0;
  font-size : 12px;

  text-align: center;
}

.site-footer .subscribe {
  font-size: 30px;
}

.site-footer a.subscribe { color: #aaeeff; }
.site-footer a.subscribe:hover { color: #28c7ef; }

.site-footer .inner {
  color : rgba(206,206,206,1);
}

.site-footer .inner section {
  display: inline;
}

.site-footer .inner section a {
  color: #28c7ef;
  text-decoration: none;
}